<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.png">
    <link rel="stylesheet" href="../static/styles/board.css">
</head>
<body>
    <h1>fojutoro.me</h1>
    <div class="board">
        <div class="posts">
            <h1>Looks like there are no posts!<br>Create one!</h1>
        </div> 
        <a id="add_post" href="/graph">
            <p>+</p>
            <img src="../static/icons/add.svg" alt="">
        </a>
    </div>
<script src="../static/js/board.js"></script>
</body>
</html>