<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.png">
    <link rel="stylesheet" href="../static/styles/welcome.css">
    <title>Welcome!</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Maturitná práca!</h1>
        <div class="actions">
            <a href="/login" class="button">Log in</a>
            <a href="/register" class="button">Register</a>
        </div>
    </div>
</body>
</html>
